<h1>Products</h1>
<div class="card">
  <div class="card-head">Lorem Ipsum - Products 1</div>
  <div class="card-body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam cum
    accusantium alias rem aliquam, optio ea exercitationem, porro obcaecati
    suscipit quas repellendus atque impedit id sequi dolor ducimus animi quae?
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem Ipsum - Products 2</div>
  <div class="card-body">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam cum
    accusantium alias rem aliquam, optio ea exercitationem, porro obcaecati
    suscipit quas repellendus atque impedit id sequi dolor ducimus animi quae?
  </div>
</div>